{% extends "base.html" %}
{% block content %}
	<article id="content-container" class="padding-twenty">
		<h2>Community support</h2>
		<h3>Despite the overbearing name, we're a friendly bunch.</h3>
		<p>We'd love to hear from you. If you have any more questions, come and talk to us on IRC or the mailing list:</p>
		<p><span class="social">&#59168;</span>#chicagoboss on irc.freenode.net</p>
		<p><span class="social">&#62224;</span><a href="https://groups.google.com/forum/#!forum/chicagoboss">chicagoboss@googlegroups.com</a></p>
		<h2>Social</h2>
		<p>You can also follow us on social networks for latest news and community announcements</p>
		<p><span class="social">&#62223;</span><a href="https://plus.google.com/108302997039494414395" rel="publisher">Google+</a></p>
		<p><span class="social">&#62220;</span><a href="https://www.facebook.com/pages/Chicagoboss/1430723603826314">Facebook</a></p>
		<p><span class="social">&#62217;</span><a href="https://twitter.com/ChicagoBoss">Twitter</a></p>
		<p><a href="https://www.youtube.com/channel/UCXwVsiH0pBrWufRB8BNR6uA">Youtube</a></p>
	</article>
{% endblock %}
