{% extends "base.html" %}
{% block content %}
	<article id="content-container" class="padding-twenty">
		<h2>Beginners</h2>
		<h3>Chicago Boss: A Rough Introduction By Evan Miller</h3>
		<p>A must-read framework introduction by the creator.(<a href="/static/tutorial.pdf">tutorial.pdf</a>)</p>
		<p><a href="https://github.com/ChicagoBoss/ChicagoBoss/wiki/Quickstart">The quickstart</a> covers installing Chicago Boss and starting a new project</p>
		<h2>Official documentation</h2>
		<p><a href="/static/api.html">framework API</a></p>
		<p><a href="https://github.com/ChicagoBoss/ChicagoBoss/wiki">WIKI</a></p>

	</article>
{% endblock %}
