{% extends "base.html" %}
{% block content %}
	<article id="content-container" class="padding-twenty">
		<h2>Download</h2>
		<h3>Latest stable version: {{ version }}</h3>
		<p>you can download latest version in tar.gz or zip formats, just unpack and compile</p>
		<p><span class="social">&#128229;</span><a href="https://github.com/ChicagoBoss/ChicagoBoss/archive/v{{ version }}.tar.gz" class="download">ChicagoBoss-{{ version }}.tar.gz</a></p>
		<p><span class="social">&#128229;</span><a href="https://github.com/ChicagoBoss/ChicagoBoss/archive/v{{ version }}.zip" class="download">ChicagoBoss-{{ version }}.zip</a></p>
		<p>or just grab it from github repository</p>
		
<pre><code>git clone https://github.com/ChicagoBoss/ChicagoBoss.git
cd ChicagoBoss/
git checkout tags/v{{ version }}
make</code></pre>
			
		<h3>Development builds</h3>
		<p>you can download latest development version in zip format, just unpack and compile</p>
		<p><span class="social">&#128229;</span><a href="https://github.com/ChicagoBoss/ChicagoBoss/archive/master.zip" class="download">ChicagoBoss-master.zip</a></p>
		<p>or just grab it from github repository</p>
<pre><code>git clone https://github.com/ChicagoBoss/ChicagoBoss.git
cd ChicagoBoss/
make</code></pre>
	</article>
{% endblock %}
